**/build
**/.gradle
.git
.idea

!event-processor-kafka-streams/build
!event-processor-kafka-streams/build/install
!event-processor-kafka-streams/build/install/**
!event-processor-flink/build
!event-processor-flink/build/install
!event-processor-flink/build/install/**
!event-processor-spring-cloud-function/build
!event-processor-spring-cloud-function/build/install
!event-processor-spring-cloud-function/build/install/**
!mqtt-to-kafka-bridge/build
!mqtt-to-kafka-bridge/build/libs
!mqtt-to-kafka-bridge/build/libs/**
!report-service/build
!report-service/build/libs
!report-service/build/libs/**
